
@import"./variables";

@font-face {
    font-family:Avenir Next Regular  ;
    src: url(../Assets/Font/AvenirNextLTPro.ttf);
}
@font-face {
    font-family:Avenir Next Demi  ;
    src: url(../Assets/Font/AvenirNextLTProDemi.ttf);
}
@font-face {
    font-family:Avenir Next bold   ;
    src: url(../Assets/Font/AvenirNextLTProBold.ttf);
}

@mixin bodydisplay{
    display: flex;
    flex-direction: column;  
    font-size: 0.81rem;
    line-height: 1.1rem;
    margin: 0%;
    font-family:Avenir Next Regular  ;  
}

@mixin list__anchor {
list-style: none;
padding-left: 0rem;
text-decoration: none;
}

@mixin PageHeaderMobile{
    font-size: 1.5rem;
    line-height: 2rem;  
    font-family: Avenir Next bold   ;
}
@mixin SectionHeaderMobile{
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    line-height: 2rem;
    font-family: Avenir Next bold  ;
}

@mixin Subheader{
    font-size: 0.87rem;
    line-height: 1.37rem;   
    font-family:Avenir Next Demi  ;
    
}