@font-face {
  font-family: Avenir Next Regular;
  src: url(../Assets/Font/AvenirNextLTPro-Regular.otf), format(otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir Next Demi;
  src: url(../Assets/Font/AvenirNextLTPro-Demi.otf), format(otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir Next bold;
  src: url(../Assets/Font/AvenirNextLTPro-Bold.otf), format(otf);
  font-weight: 700;
}
.hero {
  background-image: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  display: flex;
  height: 60vw;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 58vw;
    background-position: bottom;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 49vw;
    background-position: 25% 23%;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: Avenir Next Demi;
  color: #FFFFFF;
  position: relative;
  left: 0.8rem;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .hero__title {
    position: relative;
    left: 1.8rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: Avenir Next Demi;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    position: relative;
    left: 8rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: Avenir Next Demi;
  }
}

.biography {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .biography {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .biography {
    padding-right: 14rem;
    padding-left: 14rem;
    padding-bottom: 1.5rem;
  }
}
.biography__header {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0%;
  line-height: 2rem;
  font-family: Avenir Next Demi;
}
@media screen and (min-width: 768px) {
  .biography__header {
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0%;
    line-height: 2.75rem;
    font-family: Avenir Next Demi;
    position: relative;
    right: 3.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .biography__header {
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0%;
    line-height: 2.75rem;
    font-family: Avenir Next Demi;
    position: relative;
    right: 6rem;
  }
}
.biography__img {
  height: 50vw;
}
@media screen and (min-width: 768px) {
  .biography__img {
    height: 45vw;
  }
}
.biography__quote {
  font-family: Avenir Next Demi;
  line-height: 1.5;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .biography__quote {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .biography__quote {
    width: 52vw;
    line-height: 1.5;
  }
}
.biography__quote--credit-line {
  margin-top: 0%;
  width: 80vw;
}
@media screen and (min-width: 768px) {
  .biography__quote--credit-line {
    font-size: 1rem;
  }
}
.biography__container {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .biography__container {
    font-size: 0.875rem;
    line-height: 1.7rem;
    font-family: Avenir Next Regular;
    padding: 0%;
  }
}
@media screen and (min-width: 1280px) {
  .biography__container {
    padding-right: 0%;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: Avenir Next Regular;
  }
}
@media screen and (min-width: 768px) {
  .biography__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: Avenir Next Demi;
  }
}
@media screen and (min-width: 1280px) {
  .biography__subtitle {
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0%;
    line-height: 2.75rem;
    font-family: Avenir Next Demi;
  }
}
.biography__content {
  display: flex;
  flex-direction: column;
}
.biography__content--paragraph {
  margin-top: 0%;
}
@media screen and (min-width: 768px) {
  .biography__content {
    flex-direction: row;
    gap: 1.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .biography__content {
    gap: 1rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-right: 8.5rem;
    padding-left: 8.5rem;
  }
}
.gallery__title {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0%;
  line-height: 2rem;
  font-family: Avenir Next Demi;
  margin: 0%;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0%;
    line-height: 2.75rem;
    font-family: Avenir Next Demi;
    margin: 0%;
  }
}
.gallery__container {
  list-style: none;
  padding-left: 0rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 0%;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    justify-content: space-evenly;
  }
}
.gallery__container--img {
  filter: grayscale(100%);
  width: 100%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__container--img {
    height: 7.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container--img {
    height: 11.2rem;
  }
}
.gallery__container--img:hover {
  transition: 0.2s;
  filter: grayscale(0%);
}/*# sourceMappingURL=bio.css.map */