@import"./parcials/mixin";
@import"./parcials/variables";


body {
    @include bodydisplay();
    @include bodytextmobile();

    @include tablet {
        @include bodytextTablet();

    }

    @include desktop {
        @include bodytextdesktop();
    }


    .header {
        background-color: $bandsprimCtext;
        display: flex;
        flex-direction: column;
        padding-top: 1.5rem;
        width: 100%;

        @include tablet {
            flex-direction: row;
            align-items: normal;

        }

        &__logo {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;

            &--img {
                width: 7.5rem;
            }

            @include tablet {
                width: 25%;
                padding-bottom: 1.5rem;
            }

            @include desktop {
                width: 15%;
                padding-left: 4rem;
                padding-right: 0.5rem;
            }
        }

        &__nav {
            display: flex;

            @include tablet {
                width: 30%;
            }

            @include desktop {
                width: 15%;

            }
        }

        &__links-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0%;
            margin: 0%;
        }

        &__links {
            display: flex;
            width: 100%;
            justify-content: center;
            @include list__anchor--decoration();
            color: $silvCinactvtext;
            font-size: 0.87rem;
            line-height: 1.37rem;

            @include tablet {
                width: 70%;
            }

            @include desktop {
                font-size: 1rem;

            }

            &--active {
                border-bottom: 4px solid $bandsSecCtext;
                color: $bandsSecCtext;
                padding-bottom: 1rem;
                @include Subheadermobile();

            }
        }
    }

    .hero {
        background-image: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-bio.jpg);
        background-size: cover;
        display: flex;
        height: calc(0.60*100vw);
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;

        @include tablet {

            height: calc(0.58*100vw);
            background-position: bottom;
        }

        @include desktop {
            height: calc(0.49*100vw);
            background-position: 25% 23%;
        }

        &__title {
            @include PageHeaderMobile;
            color: $bandsSecCtext ;
            position: relative;
            left: 0.8rem;
            display: inline-block;

            @include tablet {
                position: relative;
                left: 1.8rem;
                @include pageHeaderTablet();

            }

            @include desktop {
                position: relative;
                left: 8rem;
                @include pageHeaderdesktop();

            }

        }

    }

    .biography {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;

        @include tablet {
            padding-right: 6rem;
            padding-left: 6rem;
        }

        @include desktop {
            padding-right: 14rem;
            padding-left: 14rem;
            padding-bottom: 1.5rem;

        }

        &__header {
            @include SectionHeaderMobile();

            @include tablet {
                @include SectionHeaderTablet();
                position: relative;
                right: 3.8rem;

            }

            @include desktop {
                @include SectionHeaderdesktop();
                position: relative;
                right: 6rem;
            }
        }

        &__img {
            height: calc(.50*100vw);

            @include tablet {
                height: calc(0.45*100vw);

            }

        }

        &__quote {
            font-family: Avenir Next Demi;
            line-height: 1.5;
            font-size: 0.9rem;

            @include tablet {
                font-size: 1.4rem;

            }

            @include desktop {
                width: calc(.52*100vw);

                line-height: 1.5;
            }

            &--credit-line {
                margin-top: 0%;
                width: calc(.80*100vw);

                @include tablet {
                    font-size: 1rem;
                }
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
            padding-right: 1rem;

            @include tablet {
                @include bodytextTablet();
                padding: 0%;
            }

            @include desktop {
                padding-right: 0%;
                @include bodytextdesktop ();
            }

        }

        &__subtitle {

            @include tablet {

                @include SubheaderTablet();
            }

            @include desktop {

                @include SectionHeaderdesktop();
            }
        }

        &__content {
            display: flex;
            flex-direction: column;

            &--paragraph {
                margin-top: 0%;
            }

            @include tablet {
                flex-direction: row;
                gap: 1.8rem;
            }

            @include desktop {
                gap: 1rem;
            }

        }

    }

    .gallery {
        background-color: $altbgcolor ;
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;

        @include tablet {
            padding-right: 2rem;
            padding-left: 2rem;
            padding-bottom: 1.5rem;
        }

        @include desktop {
            padding-right: 8.5rem;
            padding-left: 8.5rem;

        }

        &__title {
            @include SectionHeaderMobile();
            margin: 0%;

            @include tablet {
                @include SectionHeaderTablet();
                margin: 0%;
            }
        }

        &__container {
            @include list__anchor--decoration();
            display: flex;
            flex-direction: column;
            margin: 0%;

            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

            }

            @include desktop {
                justify-content: space-evenly;
            }

            &--img {
                filter: grayscale(100%);
                width: 100%;
                padding-bottom: 1rem;

                @include tablet {
                    height: 7.6rem;
                }

                @include desktop {
                    height: 11.2rem;
                }
            }

            &--img:hover {
                transition: 0.2s;
                filter: grayscale(0%);

            }


        }

    }

    .footer {
        display: flex;
        flex-direction: column;
        color: $bandsSecCtext ;
        background-color: $bandsprimCtext;
        padding-left: 1rem;
        padding-right: 1rem;

        @include footertextmobile();

        @include tablet {
            @include footertextTablet();
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            padding-bottom: 1rem;

        }

        @include desktop {
            @include footertextdesktop();
            padding-left: 9rem;
            padding-right: 9rem;

        }

        &__title {
            display: flex;
            @include SectionHeaderMobile();

            @include tablet {
                @include SectionHeaderTablet();
                width: 45%;
                padding-bottom: 0%;

            }

            @include desktop {
                @include SectionHeaderdesktop();
            }
        }

        &__icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 8rem;

            @include tablet {
                position: relative;
                bottom: 1.8rem;
                left: 15.2rem;
            }

            @include desktop {
                position: relative;
                bottom: 4rem;
                left: 17.2rem;
            }
        }

        &__contacts {
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                justify-content: space-between;
                width: 44rem;
            }

            @include desktop {
                width: 48rem;
            }
        }

        &__contacts-agents {
            display: flex;
            flex-direction: column;

            @include list__anchor--decoration();
            color: $bandsSecCtext ;

            @include tablet {
                width: calc(0.29*100vw);

            }

            @include desktop {
                width: 14rem;
            }

            &--header {
                margin-bottom: 0%;

            }

            &--subheader {
                margin-top: 0%;
                margin-bottom: 1rem;

                @include tablet {

                    margin-bottom: 2rem;
                }
            }
        }

        &__logo {
            display: flex;
            padding-top: 2rem;
            height: 1.25rem;
            width: 7.5rem;

            @include tablet {

                padding: 0%;
                position: relative;
                bottom: 15.5rem;
                margin-left: auto;
            }

            @include desktop {

                bottom: 17.5rem;
            }
        }

        &__paragraph {
            font-size: 0.68rem;

            @include tablet {
                font-size: 0.87rem;

            }
        }

    }
}