@font-face {
  font-family: Avenir Next Regular;
  src: url(../Assets/Font/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: Avenir Next Demi;
  src: url(../Assets/Font/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: Avenir Next bold;
  src: url(../Assets/Font/AvenirNextLTPro-Bold.otf);
}
body {
  display: flex;
  flex-direction: column;
  margin: 0%;
}
body .header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  body .header {
    display: flex;
    flex-direction: row;
  }
}
body .header__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header__logo--img {
  height: 1.3rem;
  text-align: center;
}
body .header__nav {
  width: 100%;
}
body .header__nav--link {
  margin: 0%;
  list-style: none;
  padding-left: 0rem;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
body .header__nav--link .bio__title {
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #fff;
  padding: 0.6rem;
  width: 89%;
  font-size: 0.87rem;
  line-height: 1.37rem;
  font-family: Avenir Next Demi;
}
body .header__nav--link li {
  display: flex;
  width: 100%;
  justify-content: center;
}
body .header__nav--link li .shows__title {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  list-style: none;
  padding-left: 0rem;
  text-decoration: none;
  justify-content: center;
  width: 100%;
  padding: 0.6rem;
  font-family: Avenir Next Regular;
}
body .bio__hero {
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  height: 15rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
body .bio__hero--overlay {
  background-color: rgba(50, 50, 50, 0.5);
  height: 15rem;
  width: 100%;
}
body .bio__hero--text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: Avenir Next bold;
  color: #FFFFFF;
  position: relative;
  top: 5.5rem;
  left: 1rem;
  display: inline-block;
}
body .biography {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}
body .biography__header {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0%;
  line-height: 2rem;
  font-family: Avenir Next bold;
}
body .biography__paragraph {
  font-family: Avenir Next Demi;
}
body .biography__article--header {
  font-size: 0.87rem;
  line-height: 1.37rem;
  font-family: Avenir Next Demi;
}
body .biography__article--paragraph {
  font-size: 0.81rem;
  line-height: 1.125rem;
  font-family: Avenir Next Regular;
}
body .gallery {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
}
body .gallery__title {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0%;
  line-height: 2rem;
  font-family: Avenir Next bold;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0%;
}
body .gallery__container {
  list-style: none;
  padding-left: 0rem;
  text-decoration: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0%;
}
body .gallery__container--img {
  width: 100%;
  padding-bottom: 1rem;
}
body .footer {
  color: #FFFFFF;
  background-color: #323232;
  padding: 1rem;
  font-size: 0.81rem;
  line-height: 1.125rem;
  font-family: Avenir Next Regular;
}
body .footer__title {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0%;
  line-height: 2rem;
  font-family: Avenir Next bold;
}
body .footer__icons {
  display: flex;
  justify-content: space-between;
  width: 8rem;
}
body .footer__contacts--email {
  list-style: none;
  padding-left: 0rem;
  text-decoration: none;
  color: #FFFFFF;
}
body .footer__logo {
  padding-top: 4rem;
}
body .footer__logo--paragraph {
  margin-bottom: 0%;
}/*# sourceMappingURL=bio.css.map */