@import"./parcials/mixin";
@import"./parcials/variables";


body {
    @include bodydisplay();

    @include tablet {
    @include bodytextTablet();

    }


    .header {
        background-color: #323232;
        display: flex;
        flex-direction: column;
        padding-top: 1.5rem;
        width: 100%;

        @include tablet {
            flex-direction: row;

            align-items: normal;

        }

        @include desktop {}



        &__logo {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 1rem;

            @include tablet {
                width: 25%;
                padding-bottom: 1.5rem;

            }

            @include desktop {
                width: 10%;
                padding-left: 4rem;
                padding-right: 0.5rem;
            }

            &--img {
                width: 7.5rem;
                text-align: center;

            }
        }

        &__nav {
            display: flex;


            @include tablet {

                width: 25%;

            }

            @include desktop {
                width: 10%;

            }
        }

        &__links-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0%;
            margin: 0%;



        }

        &__links {
            display: flex;
            width: 100%;
            justify-content: center;
            @include list__anchor--decoration();
            color: $silvCinactvtext;
            @include Subheadermobile();

            @include tablet {
                width: 70%;
               

            }



            &--active {
                border-bottom: 4px solid #fff;
                color: $bandsSecCtext;
                padding-bottom: 1rem;

            }

        }
    }



    .hero {
        background-image: linear-gradient(0deg, rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.3)), url(../Assets/Images/hero-bio.jpg);
        background-size: cover;

        height: calc(0.60*100vw);
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;

        @include tablet {

            height: calc(0.58*100vw);
            background-position: bottom;
        }

        @include desktop {

            height: calc(0.49*100vw);
            background-position: 25% 23%;
        }

        &__title {
            @include PageHeaderMobile;
            color: $bandsSecCtext ;
            position: relative;
            top: 4rem;
            left: 1rem;
            display: inline-block;

            @include tablet {
                position: relative;
                top: 9rem;
                left: 2rem;
                @include pageHeaderTablet();
            }

            @include desktop {
                position: relative;
                top: 21rem;
                left: 12rem;
                
                @include pageHeaderdesktop();

            }

        }

    }

    .biography {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;

        @include tablet {
            padding-right: 7.5rem;
            padding-left: 7.5rem;
        }
        @include desktop { 
            padding-right: 19rem;
            padding-left: 19rem;

        }


        &__header {
            @include SectionHeaderMobile();

            @include tablet {
                @include SectionHeaderTablet();
                position: relative;
                right: 3.5rem;
            }
            @include desktop { 
                @include SectionHeaderdesktop();
               
            }
        }

        .biography__img {
            height: calc(.50*100vw);

            @include tablet {
                height: calc(0.40*100vw);


            }
            @include desktop { 
                @include SectionHeaderdesktop();
                height: calc(0.40*100vw);
                background-position: 25% 40%;
            }
        }
        

        &__quote {
            font-family: Avenir Next Demi;

            &--credit-line {
                @include tablet {
                    font-family: Avenir Next Regular;
                }
            }
        }

        &__content {
            @include bodytext();

            @include tablet {

                @include bodytextTablet();

            }

            &--subheader {
                @include Subheadermobile();

                @include tablet {
                    font-family: Avenir Next bold;

                    @include SubheaderTablet();
                }
            }

            &--paragraph {
                @include tablet {

                    display: flex;
                    gap: 1.87rem;


                }
            }

        }

    }

    .gallery {
        background-color: $altbgcolor ;
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;

        @include tablet {
            padding-right: 2rem;
            padding-left: 2rem;
            padding-bottom: 1.5rem;
        }
        @include desktop { 
            padding-right: 13.5rem;
            padding-left: 13.5rem;
            
        }

        &__title {
            @include SectionHeaderMobile();
            margin: 0%;

            @include tablet {
                @include SectionHeaderTablet();
                margin: 0%;
            }
        }

        &__container {
            @include list__anchor--decoration();
            display: flex;
            flex-direction: column;
            margin: 0%;

            @include tablet {

                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

            }
            @include desktop { 
                justify-content: space-evenly;
            }

            &--img {
                width: 100%;
                padding-bottom: 1rem;

                @include tablet {
                    height: 8rem;
                }
                @include desktop { 
                    height: 15rem;
                }
            }

        }

    }

    .footer {
        display: flex;
        flex-direction: column;
        color: $bandsSecCtext ;
        background-color: $bandsprimCtext;
        padding-left: 1rem;
        padding-right: 1rem;

        @include footertextmobile();

        @include tablet {
            @include footertextTablet();
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 1rem;

        }
        @include desktop { 
        
            padding-left: 15rem;
            padding-right: 15rem;
            @include footertextdesktop(); 
        }

        &__title {
            display: flex;
            @include SectionHeaderMobile();

            @include tablet {
                @include SectionHeaderTablet();
                width: 45%;
                padding-bottom: 0%;

            }
            @include desktop {
                @include SectionHeaderdesktop();
            }
        }

        &__icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 40%;

            @include tablet {
                width: 25%;
                justify-content: space-around;
                position: relative;
                bottom: 1.8rem;
                left: 14rem;
            }
            @include desktop { 
                position: relative;
                bottom: 4rem;
                left: 16.5rem;
                width: 15%;
                
               
            }

        }

        &__contacts {
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                justify-content: space-between;


            }
              @include desktop { 
                width: calc(0.45*100vw);
                
               
            }
            


        }

        &__contacts-agents {
            display: flex;
            flex-direction: column;
           
            @include list__anchor--decoration();
            color: $bandsSecCtext ;

            @include tablet {
                width: calc(0.29*100vw);

            }
            @include desktop { 
               
                
                width: calc(0.30*100%);
            }
         

            &--header {
                margin-bottom: 0%;

            }

            &--subheader {
                margin-top: 0%;
                margin-bottom: 1rem;

                @include tablet {

                    margin-bottom: 2rem;
                }

            }


        }

        &__logo {
            display: flex;
            padding-top: 2rem;
            height: 1.25rem;
            position: relative;
            right: 5.2rem;

            @include tablet {
                width: 18%;
                padding: 0%;
                position: relative;
                bottom: 15.5rem;
                left: 36.2rem;
            }
            @include desktop { 
                left: 72rem;
                bottom: 17.5rem;
            }


        }

        /*  &__paragraph {}*/

    }
}