@font-face {
  font-family: Avenir Next Regular;
  src: url(../Assets/Font/AvenirNextLTPro-Regular.otf), format(otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir Next Demi;
  src: url(../Assets/Font/AvenirNextLTPro-Demi.otf), format(otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir Next bold;
  src: url(../Assets/Font/AvenirNextLTPro-Bold.otf), format(otf);
  font-weight: 700;
}
.hero {
  background-image: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-shows.jpg);
  background-size: cover;
  display: flex;
  height: 60vw;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  height: 80vw;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 60vw;
    background-position: 0% 55%;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    flex-direction: row;
    align-items: center;
    height: 60vw;
    background-position: 20% 40%;
    padding-bottom: 0%;
    gap: 10.6rem;
  }
}
.hero__text {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__text {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    width: 40vw;
    position: relative;
    left: 6rem;
    bottom: 4rem;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: Avenir Next Demi;
  color: #FFFFFF;
  display: inline-block;
  width: 70vw;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: Avenir Next Demi;
    width: 79vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 38vw;
  }
}
.hero__title--legend {
  font-family: Avenir Next Demi;
  color: #FFFFFF;
  font-size: 0.88rem;
  position: relative;
  top: 1rem;
  width: 70vw;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__title--legend {
    font-size: 1.5rem;
    position: relative;
    top: 3rem;
  }
}
.hero__songToPlay {
  display: flex;
  position: relative;
  left: 1rem;
  width: 90vw;
  height: 6.5rem;
  border-radius: 4px;
  border-color: rgba(128, 0, 128, 0.508);
}
@media screen and (min-width: 768px) {
  .hero__songToPlay {
    left: 2rem;
    width: 53vw;
    height: 12rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__songToPlay {
    position: relative;
    right: 8rem;
    bottom: 1rem;
    width: 30vw;
    height: 8rem;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    margin-bottom: 1rem;
  }
}
.shows__title {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0%;
  line-height: 2rem;
  font-family: Avenir Next Demi;
  padding-left: 1rem;
  padding-bottom: 0%;
  width: 11rem;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0%;
    line-height: 2.75rem;
    font-family: Avenir Next Demi;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    position: relative;
    left: 5rem;
    top: 5rem;
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0%;
    line-height: 2.75rem;
    font-family: Avenir Next Demi;
  }
}
.shows__list {
  display: flex;
  flex-direction: column;
}
.shows__list--selected {
  background-color: #E1E1E1;
}
.shows__list:hover {
  background-color: #FAFAFA;
}
.shows__tour {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  padding: 0%;
  line-height: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__tour {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .shows__tour {
    margin-left: auto;
  }
}
.shows__devider {
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 1280px) {
  .shows__devider {
    position: relative;
    left: 17rem;
    width: 66vw;
  }
}
.shows__subtitle {
  list-style: none;
  text-decoration: none;
  padding: 0%;
  color: #AFAFAF;
  line-height: 2;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows__subtitle {
    visibility: hidden;
    width: 0%;
    flex-direction: row;
  }
}
.shows__new-subtitle {
  visibility: hidden;
  height: 0rem;
  color: #AFAFAF;
  font-family: Avenir Next Regular;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__new-subtitle {
    visibility: visible;
    padding-bottom: 1rem;
    height: 2rem;
    display: flex;
    width: 28rem;
    justify-content: space-between;
    font-size: 0.6rem;
    position: relative;
    left: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__new-subtitle {
    position: relative;
    left: 21rem;
    width: 45.5vw;
  }
}
@media screen and (min-width: 768px) {
  .shows__new-subtitle--hiden {
    margin-right: 1rem;
    width: 95px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__new-subtitle--hiden {
    margin-right: auto;
  }
}
.shows__info {
  display: flex;
}
@media screen and (min-width: 768px) {
  .shows__info {
    width: 140px;
    margin-right: 3rem;
  }
}
.shows__info--date {
  font-family: Avenir Next Demi;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .shows__info--date {
    margin-right: 3rem;
  }
}
.shows__btnbuy {
  font-size: 0.62rem;
  line-height: 1.25rem;
  font-family: Avenir Next Demi;
  list-style: none;
  text-decoration: none;
  padding: 0%;
  margin-top: 1rem;
  color: #FFFFFF;
  background-color: #323232;
  display: flex;
  border: 1px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 2.5rem;
  width: 9.37rem;
  width: 90vw;
}
@media screen and (min-width: 768px) {
  .shows__btnbuy {
    width: 20vw;
    margin-left: auto;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: Avenir Next Demi;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__btnbuy {
    width: 10vw;
    margin-left: 1rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: Avenir Next Demi;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.shows__btnbuy:hover {
  background-color: #000000;
}/*# sourceMappingURL=shows.css.map */