@use './parcials/mixin' as *;
@use'./parcials/variables' as *;


.hero {

    background-image: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-shows.jpg);
    @include hero ();
    flex-direction: column;
    height: calc(0.90*100vw);

    @include tablet {
        height: calc(0.75*100vw);


    }

    @include desktop {
        flex-direction: row;
        align-items: center;
        height: calc(0.55*100vw);
        background-position: 20% 30%;
    }

    &__text {
        padding-left: 1rem;

        @include tablet {

            padding-left: 2rem;

        }
        @include desktop {
           position: relative;
           left: 6rem;
           bottom: 1rem;
        }
    }

    &__title {
        @include PageHeaderMobile;
        color: $bandsSecCtext ;



        display: inline-block;
        width: calc(.70*100vw);
        margin-right: auto;

        @include tablet {
            @include pageHeaderTablet();

            width: calc(.79*100vw);
        }

        @include desktop {
            width: calc(0.38*100vw);
        }

        &--legend {
            font-family: Avenir Next Demi;
            color: $bandsSecCtext ;
            font-size: 0.88rem;
            position: relative;

            top: 1rem;
            width: calc(.70*100vw);
            margin-right: auto;

            @include tablet {
                font-size: 1.5rem;

            }
        }

    }



    &__songToPlay {
        display: flex;
        padding-left: 1rem;


        width: calc(0.90*100vw);
        height: 6.8rem;
        border-radius: 4px;

        @include tablet {

            width: calc(0.50*100vw);
            height: 12rem;
            
            padding-left: 2rem;
        }

        @include desktop {
            position: relative;
            right: 8rem;
            top: 1rem;
            width: calc(0.80*100vw);
            height: 10rem;
        }

    }
}



.shows {
    display: flex;
    flex-direction: column;

    padding-bottom: 1rem;

    @include tablet {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }



    &__title {
        @include SectionHeaderMobile ();
        padding-left: 1rem;

        @include tablet {


            padding-left: 1rem;
        }
    }



    &__list {
        display: flex;
        flex-direction: column;

        @include tablet {}

        &--selected {
            background-color: $mercrSecnCline;
        }



    }



    &__list:hover {
        background-color: $altbgcolor;

    }




    &__tour {
        display: flex;
        flex-direction: column;
        @include list__anchor--decoration();
        line-height: 2;
        padding-left: 1rem;
        padding-right: 1rem;

        @include tablet {
            flex-direction: row;
            align-items: center;
            height: 2rem;


        }
       
    }

    &__devider {

        border-bottom: 1px solid $mercrSecnCline;
        padding: 0.5rem;


    }


    &__subtitle {
        @include list__anchor--decoration();
        color: $silvCinactvtext;
        line-height: 2;
        display: flex;
        flex-direction: column;


        @include tablet {
            visibility: hidden;
            width: 0%;
            flex-direction: row;
        }

        &--band {
            visibility: hidden;
            height: 0rem;
            color: $silvCinactvtext;
            font-family: Avenir Next Regular;
            font-size: 1.2rem;

            @include tablet {
                visibility: visible;
                height: auto;
                display: flex;
                flex-direction: row;
                width: calc(0.61*100vw);
                justify-content: space-between;
                margin-left: 1rem;

            }
        }

        &--hiden {

            @include tablet {

                width: 100px;
                text-align: start;

            }
        }



    }



    &__info {

        display: flex;

        &--date {
            font-family: Avenir Next Demi;

            @include tablet {
                width: 150px;
                margin-right: 3rem;

            }
        }

        @include tablet {
            width: 150px;

            margin-right: 3rem;
        }
    }






    &__btnbuy {
        @include buttonMobile();
        @include list__anchor--decoration();
        margin-top: 1rem;


        @include tablet {

            width: calc(.20*100vw);
            margin-left: auto;
            margin-bottom: 1rem;
        }
    }

    &__btnbuy:hover {
        background-color: $bandsSecnCtext;
    }
}